* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #949494;
}

@font-face {
    font-family: "Baskerville";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("Baskerville"), local("Baskerville-regular"),
        url("./fonts/baskerville.ttf") format("truetype");
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.hero {
    float: right;
    clear: right;
}

#inset {
    /* width: 100px; */
    /* height: 100px; */
    /* background: gray; */
    margin: 0px 0px 15px 10px;
}

#spacer {
    width: 0px;
    height: 200px;
}

.section {
    padding: 8rem 0;
}
.section-small {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screencap {
    transition: transform 0.2s;
    border-radius: 10px;
}

.screencap:hover {
    transform: scale(0.98);
}
