* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #949494;
    --fc-muted: #575757;
    --decorative-accent: #e5e0bb;
}

@font-face {
    font-family: "Baskerville";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("Baskerville"), local("Baskerville-regular"),
        url("./fonts/baskerville.ttf") format("truetype");
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    filter: sepia(40%);
}

.hero {
    float: right;
    clear: right;
}

#inset {
    /* width: 100px; */
    /* height: 100px; */
    /* background: gray; */
    margin: 0px 0px 15px 10px;
}

#spacer {
    width: 0px;
    height: 200px;
}

.sticky {
    position: sticky;
    top: 7rem;
}

.section {
    padding: 4rem 0;
}
.section-small {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screencap {
    transition: transform 0.2s;
}

.screencap:hover {
    transform: scale(0.98);
}

.link-footer {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--fc-muted);
}
.link-footer:hover {
    color: black;
}

.gradient {
    background-image: linear-gradient(
        rgb(255, 252, 234),
        rgba(167, 154, 82, 0.065)
    );
}
